<% if session.key?("last_err") %>
	<div class="alert-message error fade in" data-alert="alert">
		<a class="close" href="#">&times;</a>
		<p>
			<%= session["last_err"] %>
		</p>
	</div>
	<% session.delete("last_err") %>
<% end %>

<ul class="breadcrumb">
	<li class="active"><a href="/dashboard">Dashboard</a> <span class="divider">/</span></li>
</ul>

<a class="btn primary" href="/application/create">Create application</a><br/>

<table class="zebra-striped">
	<thead>
		<tr>
			<th></th>
			<th>App Name</th>
			<th>App Id</th>
			<th>Pass Key</th>
		</tr>
	</thead>
	<tbody>
		<% @applications.each { |application| %>
			<tr>
				<td>
					<a class="btn" href="/collection/list/<%= application['app_id'] %>">Goto</a>
				</td>
				<td>
					<%= application["name"] %>
				</td>
				<td>
					<%= application["app_id"] %>
				</td>
				<td>
					<%= application["pass_key"] %>
				</td>
			</tr>
		<%} %>
	</tbody>
</table>
