<% if session.key?("last_err") %>
	<div class="alert-message error fade in" data-alert="alert">
		<a class="close" href="#">&times;</a>
		<p>
			<%= session["last_err"] %>
		</p>
	</div>
	<% session.delete("last_err") %>
<% end %>

<ul class="breadcrumb">
	<li><a href="/dashboard">Dashboard</a> <span class="divider">/</span></li>
	<li class="active"><a href="/collection/list/<%= @app_id %>"><%= @app_name %></a> <span class="divider">/</span></li>
</ul>

<a class="btn primary" href="/app/<%= @app_id %>/collections/create" style="margin-bottom: 15px;">Create collection</a>

<table class="zebra-striped">
	<thead>
		<tr>
			<th></th>
			<th>Collection</th>
		</tr>
	</thead>
	<tbody>
		<% @collections.each { |collection| %>
			<tr>
				<td>
					<a class="btn" href="/documents/query/<%= @app_id %>/<%= collection %>">Goto</a>
				</td>
				<td>
					<%= collection %>
				</td>
			</tr>

		<%} %>
	</tbody>
</table>
